<ion-view view-title="" name="dashboard-view">

  <ion-nav-buttons side="right">
    <button class="button button-balanced" on-double-tap="unmarkAll();"> Resetar Marcações</button>
  </ion-nav-buttons>
  <ion-content class="padding">
 
     <div class="plane">
  <div class="cockpit">

  </div>
  <div class="exit exit--front fuselage">
    
  </div>
  <ol class="cabin fuselage">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  />
          <label class="free free1" id="banco" on-double-tap="markSeat('free1')" for="1">1</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="2" />
          <label class="free free2" id="banco" on-double-tap="markSeat('free2')" for="2">2</label>
        </li>
        <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="3" />
          <label class="free free3"  id="banco" on-double-tap="markSeat('free3')" for="3">3</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="4" />
          <label class="free free4" id="banco" on-double-tap="markSeat('free4')" for="4">4</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="5" />
          <label class="free free5" id="banco" on-double-tap="markSeat('free5')" for="5">5</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="6" />
          <label class="free free6" id="banco" on-double-tap="markSeat('free6')" for="6">6</label>
        </li>
       <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="7" />
          <label class="free free7" id="banco" on-double-tap="markSeat('free7')" for="7">7</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="8" />
          <label class="free free8" id="banco" on-double-tap="markSeat('free8')" for="8">8</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="9" />
          <label class="free free9" id="banco" on-double-tap="markSeat('free9')" for="9">9</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="10" />
          <label class="free free10" id="banco" on-double-tap="markSeat('free10')" for="10">10</label>
        </li>
        <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="11" />
          <label class="free free11" id="banco" on-double-tap="markSeat('free11')" for="11">11</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="12" />
          <label class="free free12" id="banco" on-double-tap="markSeat('free12')" for="12">12</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="13" />
          <label class="free free13" id="banco" on-double-tap="markSeat('free13')" for="13">13</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="14" />
          <label class="free free14" id="banco" on-double-tap="markSeat('free14')" for="14">14</label>
        </li>
        <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="15" />
          <label class="free free15" id="banco" on-double-tap="markSeat('free15')" for="15">15</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="16" />
          <label class="free free16" id="banco" on-double-tap="markSeat('free16')"  for="16">16</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="17" />
          <label class="free free17" id="banco" on-double-tap="markSeat('free17')" for="17">17</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="18" />
          <label class="free free18" id="banco" on-double-tap="markSeat('free18')" for="18">18</label>
        </li>
       <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="19" />
          <label class="free free19" id="banco" on-double-tap="markSeat('free19')" for="19">19</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="20" />
          <label class="free free20" id="banco" on-double-tap="markSeat('free20')" for="20">20</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="21" />
          <label class="free free21" id="banco" on-double-tap="markSeat('free21')" for="21">21</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="22" />
          <label class="free free22" id="banco" on-double-tap="markSeat('free22')" for="22">22</label>
        </li>
        <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="23" />
          <label class="free free23" id="banco" on-double-tap="markSeat('free23')"  for="23">23</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="24" />
          <label class="free free24" id="banco" on-double-tap="markSeat('free24')" for="24">24</label>
        </li>
      </ol>
    </li>
    <li class="row row--7">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="25" />
          <label class="free free25" id="banco" on-double-tap="markSeat('free25')" for="25">25</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="26" />
          <label class="free free26" id="banco" on-double-tap="markSeat('free26')" for="26">26</label>
        </li>
        <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="27" />
          <label class="free free27" id="banco" on-double-tap="markSeat('free27')" for="27">27</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="28" />
          <label class="free free28" id="banco" on-double-tap="markSeat('free28')" for="28">28</label>
        </li>
      </ol>
    </li>
    <li class="row row--8">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="29" />
          <label class="free free29" id="banco" on-double-tap="markSeat('free29')" for="29">29</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="30" />
          <label class="free free30" id="banco" on-double-tap="markSeat('free30')" for="30">30</label>
        </li>
        <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="31" />
          <label class="free free31" id="banco" on-double-tap="markSeat('free31')" for="31">31</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="32" />
          <label class="free free32" id="banco" on-double-tap="markSeat('free32')" for="32">32</label>
        </li>
      </ol>
    </li>
    <li class="row row--9">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="33" />
          <label class="free free33" id="banco" on-double-tap="markSeat('free33')" for="33">33</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="34" />
          <label class="free free34" id="banco" on-double-tap="markSeat('free34')" for="34">34</label>
        </li>
        <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="35" />
          <label class="free free35" id="banco" on-double-tap="markSeat('free35')" for="35">35</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="36" />
          <label class="free free36" id="banco" on-double-tap="markSeat('free36')"  for="36">36</label>
        </li>
      </ol>
    </li>
    <li class="row row--10">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="37" />
          <label class="free free37" id="banco" on-double-tap="markSeat('free37')" for="37">37</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="38" />
          <label class="free free38" id="banco" on-double-tap="markSeat('free38')" for="38">38</label>
        </li>
       <div class="clearfix"></div>
        <li class="seat">
          <input type="checkbox" id="39" />
          <label class="free free39" id="banco" on-double-tap="markSeat('free39')" for="39">39</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="40" />
          <label class="free free40" id="banco" on-double-tap="markSeat('free40')" for="40">40</label>
        </li>
      </ol>
    </li>
  </ol>
   <div class="cockpit2">

  </div>
</div>
  </ion-content>
</ion-view>
